@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

#login-page *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(-90deg, #005e55, #35c8b0, #2f2a85, #27306e);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

@keyframes gradient{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

.container{
    background-color: whitesmoke;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 900px;
    height: 600px;
    max-width: 100%;
}

.container p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.container span{
    font-size: 12px;
}

#login-page .container a{
    color: #333;
    font-size: 10px;
    text-decoration: none;
    margin: 15px 0 10px;
    transition : all 0.3s ease-in-out;
}

#login-page .container a:hover{
    color : #512da8;
    font-size: 13px;
    text-decoration: underline;
    transform : scale(1.05);
}

#login-page .container button{
    background-color: #512da8;
    color: white;
    font-size: 15px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 10px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 5px;
    cursor: pointer;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

#login-page .container button.hidden{
    background-color: transparent;
    border-color: whitesmoke;
}

.container form{
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

#login-page .container input , #register-role{
    border : 2px solid #e8e8e8;
    padding : 12px;
    margin-bottom : 10px;
    border-radius: 10px;
    background-color : lightgray;
    font-size: small;
    font-weight :bold;
    text-align: center;
    width : 60%;
}

#login-page .container input:focus , #register-role:focus{
    outline-color : #512da8;
    background-color : lightblue;
    color : black;
    box-shadow: 5px 5px rgba(0,0,0,0.3);
    transition: all 0.3s ease-in-out;
}


#register-role:focus {
    outline-color : #512da8;
    background-color : lightblue;
    color : black;
    box-shadow : 5px 5px rgba(0,0,0,0.3);
    transition: all 0.3s ease-in-out;
}

#login-email{
    background-image: url("../img/arobase.png");
    background-repeat: no-repeat;
    background-position: 0.5em center;
    background-size: 15px;
}
#login-password{
    background-image: url("../img/cadenas-verrouille.png");
    background-repeat: no-repeat;
    background-position: 0.5em center;
    background-size: 15px;
}
#register-email{
    background-image: url("../img/arobase.png");
    background-repeat: no-repeat;
    background-position: 0.5em center;
    background-size: 15px;
}
#register-password{
    background-image: url("../img/cadenas-verrouille.png");
    background-repeat: no-repeat;
    background-position: 0.5em center;
    background-size: 15px;
}
#register-name, #register-firstname{
    background-image: url("../img/nom.png");
    background-repeat: no-repeat;
    background-position: 0.5em center;
    background-size: 15px;
}
#register-birthdate{
    background-image: url("../img/cake.png");
    background-repeat: no-repeat;
    background-position: 0.5em center;
    background-size: 15px;
}
#register-postal{
    background-image: url("../img/emplacement.png");
    background-repeat: no-repeat;
    background-position: 0.5em center;
    background-size: 15px;
}
#register-pseudo{
    background-image: url("../img/pseudo.png");
    background-repeat: no-repeat;
    background-position: 0.5em center;
    background-size: 15px;
}
#register-role{
    background-image: url("../img/profil.png");
    background-repeat: no-repeat;
    background-position: 0.5em center;
    background-size: 15px;
}

#login-page .form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

#login-page .sign-in{
    left: 0;
    width: 50%;
    z-index: 2;
}

#login-page .container.active .sign-in{
    transform: translateX(100%);
}

#login-page .sign-up{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

#login-page .container.active .sign-up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move{
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
}

#login-page .social-icons{
    margin: 20px 0;
}

#login-page .social-icons a{
    border: 1px solid #ccc;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
}

#login-page .toggle-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
}

#login-page .container.active .toggle-container{
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

#login-page .toggle{
    background-color: #512da8;
    height: 100%;
    background: linear-gradient(to right, #5c6bc0, #512da8);
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

#login-page .container.active .toggle{
    transform: translateX(50%);
}

#login-page .toggle-panel{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

#login-page .toggle-left{
    transform: translateX(-200%);
}

#login-page .container.active .toggle-left{
    transform: translateX(0);
}

#login-page .toggle-right{
    right: 0;
    transform: translateX(0);
}

#login-page .container.active .toggle-right{
    transform: translateX(200%);
}

.register-title {
    position : absolute;
    top: 10px;
    left : 50%;
    transform: translateX(-50%);
    width : 100%;
    text-align : center;
}